include LICENSE
include README.md
include CHANGELOG.md
recursive-include xninetzy *.json
recursive-include docs *.md
recursive-include docs *.mmd
global-exclude __pycache__
global-exclude *.pyc
global-exclude *.pyo
global-exclude .DS_Store
global-exclude *.egg-info
prune .venv
prune dist
prune build
prune node_modules
prune apps/docs/dist
prune apps/docs/.astro
prune apps/docs/node_modules
