# DeepSeek
DEEPSEEK_API_KEY=your_deepseek_api_key
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_MODEL=deepseek-v4-flash

# AI FastAPI
AI_API_HOST=0.0.0.0
AI_API_PORT=8000

# Bot Identity
BOT_NAME=Xninetzy AI
BOT_OWNER=Misbahul Muttaqin
